<div class="container">
  <h1>List of All Restaurants</h1>
  <div class="cards">
    <ul style="list-style: none;">
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant)</li>
<% end %>
<% </ul> %>

</div>
<p> <%= link_to "+ Add a new restaurant", new_restaurant_path %></p>
</div>
